<!--
- 
- Microsoft IIS7 rewrite rules
- 

Following line removed due to "Config Error: Configuration file is not well-formed XML"
<?xml version="1.0" encoding="UTF-8"?> 
-->

<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Imported Rule 1" stopProcessing="true">
					<match url="^.*$" />
					<conditions logicalGrouping="MatchAny">
						<add input="{REQUEST_FILENAME}"
							 matchType="IsFile" pattern=""
							 ignoreCase="false" />
					</conditions>
					<action type="None" />
				</rule>
				<rule name="Imported Rule 2" stopProcessing="true">
					<match url="^.*$" />
					<action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>
		<defaultDocument>
			<files>
				<add value="index.php" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
