
.emotion {
	background-image: url("./emotions.png");
	background-size: auto auto;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	vertical-align: top;
	width: 16px;
}

.emotion.e01 {
	background-position: 0px 0px;
}
.emotion.e02 {
	background-position: -16px 0px;
}
.emotion.e03 {
	background-position: -32px 0px;
}
.emotion.e04 {
	background-position: -48px 0px;
}
.emotion.e05 {
	background-position: -64px 0px;
}
.emotion.e06 {
	background-position: -80px 0px;
}
.emotion.e07 {
	background-position: -96px 0px;
}
.emotion.e08 {
	background-position: -112px 0px;
}
.emotion.e09 {
	background-position: -128px 0px;
}
.emotion.e10 {
	background-position: -144px 0px;
}
.emotion.e11 {
	background-position: -176px 0px;
}
.emotion.e12 {
	background-position: -192px 0px;
}
.emotion.e13 {
	background-position: -208px 0px;
}
.emotion.e14 {
	background-position: -224px 0px;
}
.emotion.e15 {
	background-position: -240px 0px;
}
.emotion.e16 {
	background-position: -256px 0px;
}
.emotion.e17 {
	background-position: -272px 0px;
}
.emotion.e18 {
	background-position: -288px 0px;
}
.emotion.e19 {
	background-position: -304px 0px;
}
.emotion.e20 {
	background-position: -320px 0px;
}
.emotion.e21 {
	background-position: -336px 0px;
}
